<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--        設定映射對象-->
<mapper namespace="org.example.mapper.BookMapper">

<!--    預設屬性名稱映射，但有些名稱有底線 需另外映射-->
    <resultMap id="bookResultMap" type="org.example.entity.Book">
        <id property="isbn" column="isbn" />
        <result property="bookName" column="book_name" />
        <result property="price" column="price" />
        <result property="author" column="author" />
        <result property="publicationDate" column="publication_date" />
        <result property="publisherId" column="publisher_id" />
    </resultMap>
    <select id="selectAll" resultMap="bookResultMap">
        select * from Book
    </select>
    <select id="selectByIsbn" resultMap="bookResultMap">
        select  * from  Book where  isbn=#{isbn} ;
    </select>
    <select id="selectPublisherByBook" resultType="String">
        select  pub.publisher_name from Book b
                  join publisher  pub on b.publisher_id =pub.publisher_id
                  where b.book_name= #{bookName}
    </select>

    <select id="selectBook" resultMap="bookResultMap"  >
        select  * from Book b
                    <where>
                        <if test = " bookName != null and bookName!='' ">
                        and b.book_name like concat('%',#{bookName},'%')
                        </if>
                        <if test = " isbn != null  and isbn!='' " >
                            and isbn like concat('%',#{isbn},'%')
                        </if>
                        <if test = " author != null  and author!='' ">
                            and author like concat('%',#{author},'%')
                        </if>
                    </where>

                    order By #{order}

<!--                    <choose>-->
<!--                        <when test="orderEnum == 'ASC'">-->
<!--                            ASC-->
<!--                        </when>-->
<!--                        <when test="orderEnum == 'DESC'">-->
<!--                            DESC-->
<!--                        </when>-->
<!--                        <otherwise>-->
<!--                            ASC-->
<!--                        </otherwise>-->
<!--                    </choose>-->
    </select>
    <insert id="insertBook">
        insert  into book(isbn,book_name,price,author,publication_date,publisher_id) values(
                                                                                            #{isbn},
                                                                                            #{bookName},
                                                                                            #{price},
                                                                                            #{author},
                                                                                            #{publicationDate},
                                                                                            #{publisherId}
                                                                                           )
    </insert>

</mapper>